doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.css" )
  body(class = "container")
    img(src="http://theeye.pe.kr/wp-content/uploads/1/1033316693.png?w=640" style="width:20%")
    nav(class = "navbar navbar-default")
      div(class = "container-fluid")
        div(class = "navbar-header")
          a(class="navbar-brand" href="#") Node.js-Board
        ul(class="nav navbar-nav")
          li(class ="active")
            a(href="#") List
